[Desktop Entry]
Type=Application
Version=0.0.0
Name=KLAUS
Comment=Eine tolle plattformübergreifende App
Exec=z-klaus
Icon=zimo_logo
Terminal=false
Categories=Utility;Development;