[Desktop Entry]
Type=Application
Version=1.0
Name=KLAUS
Comment=A model train decoder update tool
Exec=z-klaus
Icon=zimo_logo
Terminal=false
Categories=Utility;Development;